<h2>{{question.question_text}}</h2>

<!-- error_message가 있다면 error_message를 표시한다 -->
{%if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="POST">
  {% csrf_token %}
  <!-- 해당 question의 선택지들을 하나씩 보여준다 .all()이 아닌것 주의 -->
  {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label><br>
  {% endfor %}
  <input type="submit" value="투표">
</form>
